<br />

<div class="booyah-box col-10 offset-1">
  <h1>The Team</h1>
  <p>
  <%= image_tag 'watermelon_cat.jpg', class: 'img-fluid' %>
    No real teamwork, only just the "me" in team, and the "ta" in team as well.
  </p>
</div>