@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Geo:400,400i&display=swap');

.navbar {
  font-family: 'Geo', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('prism.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'Geo', sans-serif;
  font-weight: 100;
  color: #6AFB92;
}



.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
  }

  h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

body {
  background: image_url('congruent_pentagon.png');
  color: #C68E17;
  font-family: 'Bungee Hairline', cursive;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}